<! DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Something Here</title>
  </head>
  <body>
    <h1>We will be right back....</h1>
    <p>This site is under maintenance</p>
    {{> footer}}
  </body>
</html>
